body {
  margin: 0;
  padding: 0;
  font-family: Ubuntu;
  font-size: 1.2rem;
  background-color: black;
  color: gray;
}

/* LAYOUT */

h1 {
  font-size: 2.5rem;
  margin-top: 30px;
  padding-top: 20px;
}

.container {
  margin: 0 auto;
  max-width: 700px;
  min-width: 300px;
  background-color: #1b1b32;
}

input,
select,
textarea {
  width: 100%;
  margin: 10px 0;
  padding: 0.8rem;
  background-color: black;
  color: white;
  font-size: 1rem;
  min-height: 20px;
}

fieldset {
  margin: 40px;
  border: none;
}

label {
  display: block;
}

input[type="radio"],
input[type="checkbox"] {
  width: unset;
  margin: 0 1em 0 0;
  vertical-align: middle;
}

input[type="submit"] {
  max-width: 80%;
  display: block;
  margin: 0 auto;
  background-color: green;
}

/* TYPOGRAPHY */

#title,
#description {
  text-align: center;
}

#description {
  margin-top: -20px;
  margin-bottom: 80px;
  font-style: italic;
  font-weight: 100;
}
